[role="contentinfo"] {
	background: #000;
	padding-bottom: 20px;
	padding-top: 20px;
	}
	
[role="contentinfo"] a {
	color: #fff;
	text-decoration: underline;
	}
	
[role="contentinfo"] a:hover, 
[role="contentinfo"] a:focus {
	color: #000;
	}
	
.social li {
	float: right;
	}