a .panel-title {
	color: #428bca;
	}
	
a:hover .panel-title, 
a:focus .panel-title {
	color: #2a6496;
	}
	
h2.panel-title {
	font-size: 24px;
	}
	
.hero {
	margin-bottom: 20px;
	}

.hero img {
	display: none;
	@include respond-min(48em) {
		display: block;
		height: auto;
		width: 100%;
		}
	}
	
.embed-widget, 
.embed-widget iframe {
	width: 100% !important;
	@include respond-max(40em) {
		width: 90% !important;
		}
	@include respond-min(48em) {
		height: 400px !important;
		}
	}